[Desktop Entry]
Encoding=UTF-8
Name=Link to Closing the Terminal window
Type=Link
URL=https://10629-presscdn-0-58-pagely.netdna-ssl.com/wp-content/pictures/2010/11/08_closing_terminal_window.png
Icon=image-png
